$main-title-color: #ffffff;
$secondary-title-color: #212121;
$third-title-color: #212121;
$main-text-color: #757575;
$secondary-text-color: #ffffff;
$hover-color: #2196f3;
$card-set-margin: 30px;
$padding-top-section: 94px;
$padding-bottom-section: 94px;
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
